/* Variables ------- */

//typo
$font-stack-primary: 'Lato', sans-serif;

//Colors
$primary-color: #58e1c1;
$secondary-color: #51ddfc;
$img-border-color: #ccc;
$white-color: #fff;
$copy-primary-color: #777;

// Media Query Break-points
$break-points: (
  'sm' : 767px,
);