/* Buttons ------- */
.btn {
  margin-top: 15px;
  width: 100%;
  color: $white-color;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
}

.default {
  background-color: $btn-default;
  @include btn-hover($btn-default);
}

.error {
  background-color: $btn-error;
  @include btn-hover($btn-error);
}

.info {
  background-color: $btn-info;
  @include btn-hover($btn-info);
}

.success {
  background-color: $btn-success;
  @include btn-hover($btn-success);
}

.warning {
  background-color: $btn-warn;
  @include btn-hover($btn-warn);
}