/* Grid ------- */
.container {
  padding: 0 10px;

  @include media(sm) {
    max-width: 1400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.centered {
  @include media(sm) {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.row {
  display: flex;
  flex-direction: column;
  padding: 1em 10px;

  @include media(sm) {
    flex-direction: row;
  }
}

[class^=col] {
  margin-top: 10px;
  flex-basis: 100%;
  min-height: 25px;
  padding: 10px;
  border-radius: 5px;

  @include media(sm) {
    display: flex;
    justify-content: center;
    margin-top: 0;
    align-items: center;
  }

  + [class^=col] {
    @include media(sm) {
      margin-left: 10px;
    }
  }
}

.theme {
  &.col-1 {
    background-color: #927bc1;
  }

  &.col-2 {
    background-color: #fd7856;
  }

  &.col-3 {
    background-color: #deb2ee;
  }

  &.col-4 {
    background-color: #7ee6fd;
  }

  &.col-5 {
    background-color: #88d9a0;
  }

  &.col-6 {
    background-color: #4da2bb;
  }

  &.col-7 {
    background-color: #ec9fa3;
  }

  &.col-8 {
    background-color: #fd9f85;
  }

  &.col-9 {
    background-color: #e4757a;
  }

  &.col-10 {
    background-color: #63cc82;
  }

  &.col-11 {
    background-color: #51ddfc;
  }

  &.col-12 {
    background-color: #80e8d1;
  }
}

.card {
  flex-basis: 100%;
}

@include media(sm) {
  .col-1 {
    flex-basis: 8.33%;
  }
  
  .col-2 {
    flex-basis: 16.67%;
  }
  
  .col-3 {
    flex-basis: 25.00%;
  }
  
  .col-4 {
    flex-basis: 33.33%;
  }
  
  .col-5 {
    flex-basis: 41.67%;
  }
  
  .col-6 {
    flex-basis: 50.00%;
  }
  
  .col-7 {
    flex-basis: 58.33%;
  }
  
  .col-8 {
    flex-basis: 66.67%;
  }
  
  .col-9 {
    flex-basis: 75.00%
  }
  
  .col-10 {
    flex-basis: 83.33%;
  }
  
  .col-11 {
    flex-basis: 91.67%;
  }
  
  .col-12 {
    flex-basis: 100%;
  }
}